<h4>I am a web developer, software engineer and rocket scientist.</h4>
<h5>Web Developer</h5>
<p>I bring fresh knowledge of Ruby on Rails, HTML5, CSS3 and JavaScript/JQuery to web design and development.</p>
<h5>Software Engineer</h5>
<p>I have a wide experience in software design and development, software testing, quality assurance, version control, and project management.</p>
<h5>Rocket Scientist</h5>
<p>I worked on flight software for space vehicles. The software was an embedded, real-time, autonomous application. I was part of a small mission support team that were each awarded a <em>Silver Snoopy</em> for saving a satellite with a software patch after a hardware failure jeopardized the mission.</p>
